*{
    margin: 0px auto;
}
.main{
    position: relative;
    top:20px;
    height: 400px;
    font-size: 20px;
}
.main_right{
    float: left;
    height: 99%;

}
.main_right li{
    list-style-type:none;
    text-align: left;
    height: 24px;
    font-size: 12px;
}
.main_right input{
    border-radius:5px;
    height: 20px;
}
